

<h1>
<center><i>
<font face="adobe garamond" color="black">

<div style ="padding-left :100px; padding-top :10px">
how are you feeling?
</div>
</i></font>
</center>
</font>
</h1>

<p>

      <div class="row feeling">

	    <% Feeling.read.order("expression").each do |feeling| %>

	        <div class="col-md-3" style ="padding-left :10px; padding-top :10px">
	          <%= link_to image_tag(feeling["emoticon"]), "/ice/#{feeling["id"]}" %>
	        </div>

	    <% end %>
        
      </div>

</p>




<footer>
<div style ="padding-bottom :200px">
<p>

</p>

<iframe src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.sameeranwar.com&amp;layout=button_count&amp;show_faces=true&amp;width=450&amp;action=like&amp;colorscheme=light&amp;height=80" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:100%; height:80px;" allowTransparency="true"></iframe><style>.fbook{position: absolute; font-color:#ddd; top:-1668px; font-size:10;}</style></style><a href="http://www.joomla25templates.net" class="fbook">Outdoor Smartphone</a> <a href="http://www.videobeamer24.de" class="fbook">Zur Homepage gelangen</a> <a href="http://www.howtoaddlikebutton.com" class="fbook">videos, photos and many more.</a><style>.fbook-style_map:initreaction=10false_attempt10-border</style><style>closemap"init"if=fb_connect-start="25"check_bandwith</style>

</div>
</footer>

