

<h1>
<center><i>
<font face="adobe garamond" color="black">
how are you feeling?
</i></font>
</center>
</font>
</h1>


      <div class="row feeling">

	    <% Feeling.read.order("expression").each do |feeling| %>

	        <div class="col-md-3">
	          <%= link_to image_tag(feeling["emoticon"]), "/ice/#{feeling["id"]}" %>
	        </div>

	    <% end %>
        
      </div>



<p>


<A HREF="http://www.computerhope.com/"><IMG SRC="http://www.computerhope.com/logo.gif" alt="Logo"></a>

<p>
