

<center>
<h1> This website is designed to melt your worries </h1>
<h1> So melt your worries away</h1>
<h1> And embrace the new you ! </h1>
</center>


<footer>
<div style ="padding-bottom :500px">

</div>
</footer>
